<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805885138076-ngi29f225hcm1npvna129ngecaucbivb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805885138076-ngi29f225hcm1npvna129ngecaucbivb</string>
	<key>API_KEY</key>
	<string>AIzaSyAu5SXC_bBwxgiHkN2-nFw6vRqgDNBtNIU</string>
	<key>GCM_SENDER_ID</key>
	<string>805885138076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.artser</string>
	<key>PROJECT_ID</key>
	<string>fir-ccc7a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ccc7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805885138076:ios:599be2115e5abfec530959</string>
</dict>
</plist>